/* Google Material Icons */
 @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


 #header{ 
    background: white !important; 
    display: flex;
    justify-content: center;
    max-height: 250px;
    box-shadow: none;
}

#header .header-nav {
    background-color: white !important;
    border-bottom: none;
    height: auto;
    max-height: 200px;
}

#header .header-nav * {
    background-color: white;
}

#header .header-nav .blockcart {
    background-color: white;
}


#header-container {
    max-width: 1140px;
    max-height: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
}

.row-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
} 


#search-bar-div {
    display: grid;
    align-content: center;
}

.header-search-bar {
    border: 1px solid #c4c7c8;
    margin-left:10%;
}

#search-bar-form {
    display: flex;
    justify-content: space-between;
}

#search-input {
    border: none;
    padding: 10px;
    width:100%;
}

#search-input:focus {
    outline: none;
}

#search-icon {
    padding-top: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

#header-login {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    margin-left: 1.5rem;
}

.text-underlined {
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: black;
}

#gird-cell-login {
    display: flex;
    justify-content: center;
    padding-top:1.25rem;
    align-items: baseline;
}

#_desktop_user_info {
    padding-left: 1rem;
}

#flag-and-arrow {
    display: flex;
    justify-content: center;
}

#listy-zakupowe {
    padding-top: 2px;
    padding-left: 1rem;
}

#shopping-cart-div {
    display: grid;
    align-content: center;
    color: black;
}

#shopping-cart-header {
    padding-left: 1rem;
}

.header-nav * {
    background-color: white !important;
}

#wrapper {
    background-color: white;
}

#categories-div {
    grid-row: 2;
    grid-column: 1 / -1;
    position: relative;
}

.featured-product-section h1 {
    text-align: center;
}

/* Produkty w featuredproducts */
.products {
    display: flex;
    justify-content: space-evenly;
}

.category-submenu {
    max-width: 1140px !important;
}

footer {
    font-family: Arial, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333 !important;
    transition: color 0.2s ease-out;
}

a:hover {
    color: #2b77f3 !important;
}

.js-footer {
    display: grid;
    justify-content: center;
}

#footer-div {
    max-width: 1140px;
    height: 200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
}

#information-div {
    border: 1px solid #c4c7c8;
    border-radius: 0 5px 5px 0;
    /* padding: 30px 35px; */
    font-family: Arial, sans-serif;
    display: flex;
    padding-top: 1rem;
}

footer h3 {
    font-size:16px;
}

#footer-zamowienia-konto {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    /* margin-top: 1rem; */
}

.footer-table-div {
    margin-left: 0.5rem;
}

.td-right {
    padding-left: 10px;
}

.td-right-regulaminy {
    padding-left: 20px;
}

#footer-contact-info {
    display: flex;
    justify-content: center;
}

#client-information {
    margin-left: 2rem;
}

.footer-table-div {
    margin: 1rem;
    font-size: 13px;
}

#idosell-div {
    margin-top: 3rem;
    display: flex;
    align-items: baseline;
}

#footer-line {
    flex-grow: 1;
    height: 1px;
    background-color: #c4c7c8;
    box-sizing: border-box;
}

#footer-contact-info {
    display: flex;
    justify-content: space-around;
    font-family: Arial, sans-serif !important;
}

#footer-contact-info a {
    text-decoration: underline;
}

#footer-contact-info p {
    color: #333;
}

/* CMS PAGES */

#cms .page-header {
    display: none;
}

/* About us page */
.page-cms-4 {
    font-family: "Arial", sans-serif;
    color: #333;
}

.page-cms-4 p {
    font-size: 14px !important;
}

.page-cms-4 h2 {
    font-size: 25px;
}

.page-cms-4 h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

/* Info about payments page */
.page-cms-5 h2 {
    font-size: 25px;
}

.page-cms-5 h4 {
    font-size: 15.21px !important;
}

.page-cms-5 h3 {
    font-size: 17.29px !important;
}

.page-cms-5 h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

/* Privacy policy page */
.page-cms-2 h2 {
    font-size: 25px;
}

.page-cms-2 h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.page-cms-2 h4 {
    font-size: 15.21px !important;
}

.page-cms-2 li {
    font-size: 13px !important;
    font-family: "Arial", sans-serif !important;
}

.page-cms-2 p {
    font-size: 13px !important;
    font-family: "Arial", sans-serif !important;
}

/* Terms and conditions page */
.page-cms-3 h2 {
    font-size: 25px !important;
}

.page-cms-3 h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.page-cms-3 li {
    font-size: 13px !important;
    font-family: "Arial", sans-serif !important;
}

.page-cms-3 p {
    font-size: 13px !important;
    font-family: "Arial", sans-serif !important;
}

.page-cms-3 h4 a {
    text-decoration: underline !important;
}

/* Contact page */

.page-cms-6 h2 {
    font-size: 25px !important;
}

.page-cms-6 h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.page-cms-6 p {
    font-size: 14px !important;
    font-family: "Arial", sans-serif !important;
    color: #333;
    font-weight: 700 !important;
}

.page-cms-6 span {
    font-size: 14px !important;
    font-family: "Arial", sans-serif !important;
    color: #333;
    font-weight: 700 !important;
}

.page-cms-6 a {
    text-decoration: underline;
}

.page-cms-6 img {
    margin-top: 4rem;
    max-width: 1100px;
    
}

/* Odstapienie od umowy */

.page-cms-7 h1 {
    font-size: 25px !important;
    color: #333;
    font-family: "Arial", sans-serif;
}

.page-cms-7 h2 {
    font-size: 21px !important;
    color: #333;
    font-family: "Arial", sans-serif;
}

.page-cms-7 h1::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.page-cms-7 li {
    font-family: "Open sans", Arial, sans-serif;
    font-size: 14px !important;
    color: #333 !important;
}

/* Categories page */

.category-h1 {
    font-family: "Arial", sans-serif;
    font-size: 25px;
}

.category-h1-centered {
    font-family: "Arial", sans-serif;
    font-size: 25px;
    text-align: center;
}

.category-h1::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.category-h1-centered::after {
    content: '';
    display: block;
    height: 4px;
    width: 20px;
    background: #333;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

.container.category-container {
    display: flex;
    flex-direction: column;
}

.subcategories-list-item {
    border: 1px solid #c4c7c8;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.category-headline-center {
    display: flex;
    justify-content: center;
}

.category-headline {
    display: flex;
}

.product-title {
    font-family: "Arial", sans-serif;
    font-size: 13px;
}

.category-products-price-quantity {
    font-family: "Arial",sans-serif;
    font-size: 11px;
}