
shop/prestashop_data/.htaccess
shop/prestashop_data/*.log

# Cache
shop/prestashop_data/cache/*
!shop/prestashop_data/cache/.htaccess
!shop/prestashop_data/cache/cachefs/index.php
!shop/prestashop_data/cache/deprecated.txt
!shop/prestashop_data/cache/index.php
!shop/prestashop_data/cache/purifier/index.php
!shop/prestashop_data/cache/push/activity
!shop/prestashop_data/cache/push/index.php
!shop/prestashop_data/cache/push/trends
!shop/prestashop_data/cache/sandbox/index.php
!shop/prestashop_data/cache/smarty/cache/index.php
!shop/prestashop_data/cache/smarty/compile/index.php
!shop/prestashop_data/cache/smarty/index.php
!shop/prestashop_data/cache/tcpdf/index.php

# Download
shop/prestashop_data/download/*
!shop/prestashop_data/download/.htaccess
!shop/prestashop_data/download/index.php

# Images
shop/prestashop_data/img/*
!shop/prestashop_data/img/.htaccess
!shop/prestashop_data/img/index.php
!shop/prestashop_data/img/404.gif
!shop/prestashop_data/img/bg_500.png
!shop/prestashop_data/img/bg_loader.png
!shop/prestashop_data/img/favicon.ico
!shop/prestashop_data/img/loader.gif
!shop/prestashop_data/img/loadingAnimation.gif
!shop/prestashop_data/img/logo.jpg
!shop/prestashop_data/img/logo.png
!shop/prestashop_data/img/logo_invoice.jpg
!shop/prestashop_data/img/logo_stores.png
!shop/prestashop_data/img/macFFBgHack.png
!shop/prestashop_data/img/prestashop-avatar.png
!shop/prestashop_data/img/prestashop@2x.png
!shop/prestashop_data/img/preston-login-wink@2x.png
!shop/prestashop_data/img/preston-login@2x.png
!shop/prestashop_data/img/questionmark.png
!shop/prestashop_data/img/genders/index.php
!shop/prestashop_data/img/admin/index.php
!shop/prestashop_data/img/c/index.php
!shop/prestashop_data/img/cms/index.php
!shop/prestashop_data/img/co/index.php
!shop/prestashop_data/img/jquery-ui
!shop/prestashop_data/img/l/index.php
!shop/prestashop_data/img/m/index.php
!shop/prestashop_data/img/os/index.php
!shop/prestashop_data/img/p/index.php
!shop/prestashop_data/img/s/index.php
!shop/prestashop_data/img/scenes
!shop/prestashop_data/img/st/index.php
!shop/prestashop_data/img/su/index.php
!shop/prestashop_data/img/t/index.php
!shop/prestashop_data/img/tmp/index.php

# Upload
shop/prestashop_data/upload/*
!shop/prestashop_data/upload/.htaccess

# Vendor
shop/prestashop_data/vendor/*
shop/prestashop_data/docs/phpdoc-sf/
shop/prestashop_data/composer.lock
shop/prestashop_data/*.hot-update.js
shop/prestashop_data/*.hot-update.json

# Admin upgrade
shop/prestashop_data/admin-dev/autoupgrade/*
!shop/prestashop_data/admin-dev/autoupgrade/index.php
!shop/prestashop_data/admin-dev/autoupgrade/backup/index.php

# Admin backups
shop/prestashop_data/admin-dev/backups/*
!shop/prestashop_data/admin-dev/backups/.htaccess

# Admin import/export
shop/prestashop_data/admin-dev/import/*
!shop/prestashop_data/admin-dev/import/.htaccess
!shop/prestashop_data/admin-dev/import/index.php

shop/prestashop_data/admin-dev/export/*
!shop/prestashop_data/admin-dev/export/.htaccess
!shop/prestashop_data/admin-dev/export/index.php

# RTL files
shop/prestashop_data/admin-dev/themes/default/css/bundle/default_rtl.css
shop/prestashop_data/admin-dev/themes/default/css/bundle/shared_rtl.css
shop/prestashop_data/admin-dev/themes/default/css/font_rtl.css
shop/prestashop_data/admin-dev/themes/default/css/overrides_rtl.css
shop/prestashop_data/admin-dev/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
shop/prestashop_data/admin-dev/themes/default/css/vendor/nv.d3_rtl.css
shop/prestashop_data/admin-dev/themes/default/css/vendor/titatoggle-min_rtl.css
shop/prestashop_data/admin-dev/themes/default/public/theme_rtl.css
shop/prestashop_data/admin-dev/themes/new-theme/css/module/drop_rtl.css
shop/prestashop_data/admin-dev/themes/new-theme/css/right-sidebar_rtl.css

shop/prestashop_data/themes/*/cache/*

# Config
shop/prestashop_data/config/settings.inc.php
shop/prestashop_data/config/settings.old.php
shop/prestashop_data/config/xml/*
shop/prestashop_data/config/themes/*
!shop/prestashop_data/config/xml/themes/default.xml
shop/prestashop_data/themes/*/config/settings_*.json
shop/prestashop_data/app/config/parameters.old.yml
shop/prestashop_data/app/config/config.php

# Themes, modules and overrides
shop/prestashop_data/modules/*
shop/prestashop_data/override/*
shop/prestashop_data/themes/*/
!shop/prestashop_data/themes/classic
!shop/prestashop_data/themes/_core
!shop/prestashop_data/themes/_libraries

# Vendors and dependencies
shop/prestashop_data/bower_components/
shop/prestashop_data/node_modules/
shop/prestashop_data/composer.phar
shop/prestashop_data/php-cs-fixer
shop/prestashop_data/.grunt/*

# Translations and emails templates
shop/prestashop_data/translations/*
shop/prestashop_data/mails/*
!shop/prestashop_data/mails/themes/
!shop/prestashop_data/mails/_partials/
shop/prestashop_data/themes/default-bootstrap/lang/*
shop/prestashop_data/themes/default-bootstrap/modules/*/translations/*.php
shop/prestashop_data/themes/default-bootstrap/mails/*
!shop/prestashop_data/themes/default-bootstrap/mails/en/
shop/prestashop_data/themes/default-bootstrap/modules/*/mails/*
!shop/prestashop_data/themes/default-bootstrap/modules/*/mails/en

# MISC
shop/prestashop_data/*sitemap.xml
shop/prestashop_data/robots.txt

# Symfony
shop/prestashop_data/bin/
shop/prestashop_data/app/Resources/geoip/GeoLite2-City.mmdb
shop/prestashop_data/app/Resources/translations/*
!shop/prestashop_data/app/Resources/translations/default
shop/prestashop_data/app/config/parameters.yml
shop/prestashop_data/app/config/parameters.php
shop/prestashop_data/build/
shop/prestashop_data/phpunit.xml
shop/prestashop_data/var/*
!shop/prestashop_data/var/cache
shop/prestashop_data/var/cache/*
!shop/prestashop_data/var/cache/.gitkeep
!shop/prestashop_data/var/logs
shop/prestashop_data/var/logs/*
!shop/prestashop_data/var/logs/.gitkeep
!shop/prestashop_data/var/sessions
shop/prestashop_data/var/sessions/*
!shop/prestashop_data/var/sessions/.gitkeep
!shop/prestashop_data/var/SymfonyRequirements.php
shop/prestashop_data/vendor/
shop/prestashop_data/web/bundles/


# Database
shop/mysql_data/*.log
shop/mysql_data/ib_logfile*
shop/mysql_data/ibdata*
shop/mysql_data/#sql*
shop/mysql_data/*.pid
shop/mysql_data/*.err
shop/mysql_data/*.sock
shop/mysql_data/*.frm
shop/mysql_data/*.ibd
shop/mysql_data/*.MYD
shop/mysql_data/*.MYI